
*.p
*.zip
*.pickle
*.npy
*.app
*.h5

Term2/Projects/P1-ExtendedKalmanFilter/build/
Term2/Projects/P2-UnscentedKalmanFilter/build/
Term2/Exercises/MarkovLocalization/build/
Term2/Exercises/ParticleFilter/build/
Term2/Projects/P3-KidnappedVehicle/build/
Term2/Projects/P4-PIDControl/build/
Term2/Projects/P5-MPC/build/